
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>RELATÓRIO DE H.A.E.</title>
  </head>
	<body style="text-align: center">
		<p> <img width="800px" src="/imgs/title.png"> </img></p>
		<%#<h1>RELATÓRIO DE H.A.E.</h1>%>
		<h1>SISTEMA DE ACOMPANHAMENTO DO PERFIL SÓCIOECONÔMICO DOS ALUNOS DA FATEC FRANCA</h1>
		<%#<h3>Thiago Scalone de Sousa</h3>%>
		<%#<h3>Samuel</h3>%>
		<%#<h3>Leiriedson</h3>%>
		<%#<h3>Franca</h3>%>
		<%#<h3>Setembro/2013</h3>%>
		<%#<br><br>%>
		<%#<h1>Faculdade de Tecnologia de Franca – “Dr. Thomaz Novelino”</h1>%>
		<%#<h2>TEMA</h2>%>
		<%#<p>Sistema para registro e acompanhamento do Perfil Sócio Econômico dos alunos ingressantes na FATEC Dr Thomaz Novelino – Franca.</p>%>
		<%#<h2>OBJETIVO</h2>%>
		<%#<p>Este documento tem o objetivo de apresentar os resultados obtidos com a realização de atividades relacionadas ao Projeto HAE do Prof Esp Carlos Eduardo de França Roland, durante o 2o semestre de 2010, na FATEC Franca, denominado Sistema de Acompanhamento do Perfil Socioeconômico dos Alunos da FATEC Franca.</p>%>
		<%#<p>Durante o período, foram cumpridas 4 (quatro) HAEs semanais para analisar os atributos para um levantamento socioeconômico dos alunos ingressantes, definir um método de coleta destes dados, definir e implementar um sistema de informação que armazene e processe os dados coletados, fornecendo informações que caracterizem as turmas e permita o acompanhamento histórico dos alunos ingressantes.</p>%>
		<%#<h2>3 DESENVOLVIMENTO DAS ATIVIDADES</h2>%>
		<%#<p>As atividades foram desenvolvidas em dois períodos semanais (quartas e quintas-feiras) dentro do cronograma proposto no projeto e compreendendo análise de requisitos e definição do Questionário; levantamento de dados com a aplicação do Questionário como pré-teste; criação do sistema de processamento dos dados em ambiente Microsoft Office – Excel, digitação, processamento de dados e geração de gráficos informativos; apresentação à direção da FATEC Franca para apreciação e apresentação de sugestões de melhorias para a nova versão que será aplicada aos alunos ingressantes em 2011.</p>%>
		<%#<h1>4 RESULTADOS</h1>%>
		<%#<p>Foi realizada pesquisa exploratória na internet e documental junto à ETEC Dr Júlio Cardoso para a definição do questionário que é apresentado no Anexo I. O questionário foi aplicado aos alunos do curso de Análise e Desenvolvimento de Sistemas e foram obtidas 35 respostas.</p>%>
		<%#<p>Foi desenvolvida a planilha “Perfil Socioeconômico FATEC Franca – Levantamento de Dados” para a digitação dos dados obtidos dos questionários respondidos que é apresentada no Anexo II.</p>%>
		<%#<p>Em seguida foram definidas as regras de processamento para a construção da planilha “Perfil Socioeconômico FATEC Franca – Processamentos”, apresentada no Anexo III, para gerar as bases de informação para construção dos gráficos que foram criados na planilha “Perfil Socioeconômico FATEC Franca – Gráficos” apresentada no Anexo IV.</p>%>
		<%#<p>Os resultados obtidos foram apresentados à direção da escola e foram solicitadas sugestões de melhorias ao questionário, como novas questões com temas que sejam pertinentes e necessários para um melhor conhecimento dos alunos da unidade. Com as sugestões colhidas, o questionário será aperfeiçoado para ser aplicado aos alunos ingressantes no 1o semestre de 2011.</p>%>
		<%#<p>Com as informações obtidas a partir das atividades do projeto desenvolvido, pretende-se gerar conhecimento a ser aplicado nas ações de publicidade e propaganda da unidade, bem como para a proposição de temas de disciplinas eletivas e de projetos interdisciplinares com o objetivo de participação em feiras e congressos.</p>%>
		<%= @graphics %>
  </body>
</html>