
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>RELATÓRIO DE H.A.E.</title>
  </head>
	<body style="text-align: center">
		<p> <img width="800px" src="/imgs/title.png"> </img></p>
		<%= @graphics %>
  </body>
</html>